.footer {
  color: #fff;
  background-color: #3c3c3b;
  padding: 40px 0;
  position: relative;
  /* height: 50px; */
  /* margin-top: auto; */
  /* width: 100%;
  bottom: 0; */
}

.copyright {
  text-align: center;
}
.copyright h2 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.social-networks a {
  background-color: #50504f;
  border-radius: 50px;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  line-height: 1.9;
  margin: 5px 10px;
  text-decoration: none;
  width: 50px;
  color: #fff;
}
