.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.navbar__name,
.navbar__link {
  text-decoration: none;
}

.navbar__name {
  color: var(--primary);
  font-family: "Yantramanav", sans-serif;
  font-size: 20px;
}

.navbar__containerLinks {
  display: flex;
  gap: 10px;
}
.navbar__link {
  color: var(--text-gray);
  font-size: 20px;
  padding: 5px;
  position: relative;
  font-size: 25px;
}

.navbar__link span {
  background-color: var(--primary);
  font-size: 17px;
  aspect-ratio: 1;
  color: white;
  height: 25px;
  font-weight: bold;
  position: absolute;
  right: -3px;
  bottom: -5px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

@media (min-width: 550px) {
  .navbar__link {
    font-size: 30px;
  }
  .navbar__containerLinks {
    gap: 40px;
    padding: 8px;
  }
}
